extends layout

block content
    h1 Cadastrar um novo usuário
    form(method="POST", action="/users/create")
        label Nome
        br
        input(type="text", name="nome")
        br
        br
        label Login
        br
        input(type="text", name="login")
        br
        br
        label senha
        br
        input(type="password", name="senha")
        br
        br
        label Data de Nascimento
        br
        input(type="date", name="data")
        br
        br
        input(type="submit", value="Cadastrar")
