extends layout

block content
    h1 Editar #{value.nome} #{value.id}
    form(method="POST", action="/users/edit/#{value.id}")
        label Nome
        br
        input(type="text", name="nome", value="#{value.nome}")
        br
        br
        label Login
        br
        input(type="text", name="login", value="#{value.login}")
        br
        br
        label senha
        br
        input(type="password", name="senha", value="#{value.senha}")
        br
        br
        input(type="submit", value="Salvar")
