doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block top
        ul
            li
                a(href="/users") Listar
            li
                a(href="/users/create") Criar
    block content
