extends layout

block content
    h1 Listagem de usuários
    table(class="table table-striped")
        thead
            tr
                th Id
                th Nome
                th Login
                th Senha
                th Data
                th Editar
                th Excluir
            tbody
                each valor, i in lista
                    tr
                        td #{valor._id}
                        td #{valor.nome}
                        td #{valor.login}
                        td #{valor.senha}
                        td #{valor.data}
                        td
                            a(href="/users/edit/#{valor._id}", class="btn btn-success") Editar
                        td
                            form(method="POST", action="/users/delete/#{valor.id}")
                                input(type="submit", value="Excluir", class="btn btn-danger")
